# Panel Attack (unofficial Miyoo Mini Plus port) - online play
#
# Online play is turned off in this port while we check with the Panel Attack
# team that they're happy for it to use their server (panelattack.com).
# For testing, change "off" to "on" and restart the game.
online = off
